<div class="page-header">
  <h4><a href="" ng-click='showContributorInfo(repoInfo.owner.login)' >{{repoInfo.owner.login}}</a> / <strong><a href="">{{repoInfo.name}}</a></strong> </h4>
</div>

<small>{{repoInfo.description}}</small>

<div class="row">
  <div class="col-md-4">

<div class="panel panel-default">
  <div class="panel-body">
    <h6>Created at: {{repoInfo.created_at}}</h6>
    <h6>Last Updated: {{repoInfo.updated_at}}</h6>
    <h6>Forks: {{repoInfo.forks_count}}</h6>
    <h6>Subscribers: {{repoInfo.subscribers_count}}</h6>
  </div>
</div>

    <img src="" />
  </div>
  <div class="col-md-8">
    <p><input type='search' class='form-control' placeholder='Find a contributor...' ng-model='query' /></p>

  <div class="panel panel-info" ng-repeat='contributor in contributors | filter: query'>
      <div class="panel-heading">
        <h3 class="panel-title"><a href="" ng-click='showContributorInfo(contributor.login)'><img src="{{contributor.avatar_url}}" alt="32x32" style="height: 32px; width: 32px; margin-right: 5px;">{{contributor.login}}</a></h3>
      </div>
      <div class="panel-body">
        Contributions: {{contributor.contributions}}
      </div>
    </div>

    <div class="alert alert-danger" data-ng-repeat="error in errors">
      {{ error }}
    </div>
  </div>

</div>





